.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    padding: 20px;
    box-sizing: border-box;
}
  
.modalInner {
    background: #fff;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.results {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    margin: 0 0 20px;
}

.score {
    color: #999;
    font-size: 1.5em;
    font-style: italic;
    margin: 0 0 20px;
}

.insult {
    font-style: italic;
    margin: 30px 0 30px;
    font-size: .9em;
    width: 80%;
}