body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  margin: 0 0 20px;
}

h2 {
  font-size: 1.2em;
}

.btn {
  border: 1px solid #fff;
  background: none;
  font-weight: bold;
  color: #fff;
  padding: 15px 20px;
  width: 100%;
  transition: all .2s;
}

.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #3D5AFE;
}

.btn-secondary {
  border: none;
  font-weight: bold;
  padding: 15px 20px;
  width: 100%;
  max-width: 200px;
  transition: all .2s;
  background: #F06292;
  color: #fff;
  margin-top: 30px;
}

.btn-secondary:hover {
  cursor: pointer;
  background: #f07da4;
}

.landing {
  width: 100%;
  max-width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
